<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RabbitMq" type="Spartan.Messaging.RabbitMq.Config.RabbitMqConfigSection, Spartan.Messaging" />
  </configSections>
  <RabbitMq>
    <Exchanges>
      <Exchange name="PrecinctVoteComplete" type="fanout" event="PrecinctVoteCompleteEvent">
        <Queues>
          <Queue name="PrecinctVoteComplete" />
        </Queues>
      </Exchange>
    </Exchanges>
  </RabbitMq>
</configuration>