<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net461" />
  <package id="Spartan.Utilities" version="1.0.3" targetFramework="net461" />
  <package id="Validation" version="2.4.18" targetFramework="net461" />
</packages>