<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BlobStorageConfigSection" type="Spartan.Blobs.Config.BlobStorageConfigSection, Spartan.Blobs" />
  </configSections>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>

  <BlobStorageConfigSection connectionString="">
  </BlobStorageConfigSection>
</configuration>